<connectionStrings>
  <add name="DatabaseEntities" connectionString="Data Source=JENZ;Initial Catalog=JenzHealthDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <!--<add name="DatabaseEntities" connectionString="Data Source=LAPTOP-VAUH2N00\SQLEXPRESS;Initial Catalog=JenzHealthDB;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
</connectionStrings>